body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(24,1,231);
  background: -moz-linear-gradient(90deg, rgba(24,1,231,1) 0%, rgba(8,0,153,1) 0%, rgba(121,9,9,1) 94%);
  background: -webkit-linear-gradient(90deg, rgba(24,1,231,1) 0%, rgba(8,0,153,1) 0%, rgba(121,9,9,1) 94%);
  background: linear-gradient(90deg, rgba(24,1,231,1) 0%, rgba(8,0,153,1) 0%, rgba(121,9,9,1) 94%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1801e7",endColorstr="#790909",GradientType=1); 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
